@model KIVO.Models.Dto.InputModelLogin

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="/css/login.css">

<body>


    <form method="post">

        <div class="imagen-esquina">
            <img src="/KIVO_SVG/esquina_izq.svg" alt="">
        </div>
        <section class="formulario">

            <section class="imagen">
                <img src="/KIVO_SVG/LOGO_VAR2_BLANCO.svg" alt="">
            </section>

            <section class="cajas_texto">
                <div class="cajas">

                    <h4>INICIAR SESIÓN</h4>
                    <h5>Nos emociona tenerte por aquí</h5>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Email" placeholder="Correo electrónico" lass="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnReg" class="btn btn-default">INICIAR SESIÓN</button>
                    </div>
                    <div class="form-group">

                        <p>
                            <a asp-action="Registrase" asp-controller="Accout">Registrase</a>
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </form>
    
    <section class="imagen_robot">
        <img src="/KIVO_SVG/ROBOT_COLOR.svg" alt="">
    </section>
</body>