@{
    Layout = "_Configuracion";
}
<h1 class="text-center">Gestión de Pacientes</h1>
<div class="row">
    <!-- Ver Paciente de Demostración -->
    <div class="col-md-6">
        <a href="/demo-paciente" class="card">
            <div class="card-body">
                <h5 class="card-title">Ver paciente de demostración</h5>
                <p class="card-text">Visualiza un paciente de demostración con historial médico y consulta finalizada.</p>
            </div>
        </a>
    </div>

    <!-- Crear Primer Paciente -->
    <div class="col-md-6">
        <a href="/crear-paciente" class="card">
            <div class="card-body">
                <h5 class="card-title">Crear tu primer paciente</h5>
                <p class="card-text">Completa el formulario para crear tu primer paciente.</p>
            </div>
        </a>
    </div>
</div>


