
<link rel="stylesheet" href="/css/detalle.css">
<div class="image-grid">
    <div class="grid-item">
        <img src="/KIVO_SVG/Group 276.png" alt="Imagen 1">
    </div>
    <div class="grid-item">
        <img src="/KIVO_SVG/freuencia.png" alt="Imagen 2">
    </div>
    <div   style="margin-top: -10px;"class="grid-item">
        <img src="/KIVO_SVG/tarjeta.png"alt="Imagen 3">
    </div>
    <div class="grid-item">
        <img src="/KIVO_SVG/125.png"alt="Imagen 4">
    </div>
</div>
