@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pegada.css">
</head>
<body>
    <!-- Sección 1 -->
    <section id="section-1" class="section active">
        <img class="unity" src="/KIVO_SVG/UnityWork-07.png" alt="Imagen Unity"/>
        <img src="/KIVO_SVG/ISOLOGO_1_COLOR.svg" alt="Isologo 1 Color"/>
    </section>

    <!-- Sección 2 -->
    <section id="section-2" class="section">
        <div class="robot">
            <img src="/KIVO_SVG/ROBOT_DELADO.svg" alt="Robot Delado">
        </div> 

        <div class="fabian"> 
            <a href="/Home/Index3">
                <img src="/KIVO_SVG/ISOLOGO_BLANCO.svg" alt="Isologo Blanco">
            </a>
        </div>

        <p class="inicio">Simplifica tu gestión médica y conecta con tus pacientes de manera eficiente y segura.</p>
    </section>
    <!-- Sección 3 -->
    <section id="section-3" class="section">
        <div>
            <img src="/KIVO_SVG/arriba.svg" alt="Imagen arriba">
            <img class="imagen-abajo" src="/KIVO_SVG/abajo.svg" alt="Imagen abajo">
            <img class="imagen-celular" src="/KIVO_SVG/CELULAR1.svg" alt="Celular">
            <img class="imagen-robot" src="/KIVO_SVG/ROBOT_COLOR.svg" alt="Robot Color"> 
        </div>

       <div>
            <h1 class="titulo-citas">PROGRAMACIÓN<br> DE CITAS</h1>
            <p class="subtitulo-citas">Simplifica el seguimiento de tus pacientes</p>
       </div>
    </section>
    <!-- Sección 4 -->
    <section id="section-4" class="section">
        <img class="background-image" src="/KIVO_JPG/1 (2).jpg" alt="Imagen de fondo">
        <img class="top-corner-image" src="/KIVO_JPG/ARRIBA2.jpg" alt="Imagen en la esquina superior">
        <img class="robot-image" src="/KIVO_SVG/BOTCEL.svg" alt="Imagen del robot">
    
        <h1>COMUNICACIÓN <br> CONSTANTE Y EFECTIVA</h1>
        <p>Comunicación personalizada y fluida</p> 
    </section>

    <script src="/js/script.js"></script>
</body>
</html>
