@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index5.css">
</head>
<body>
    <div>
        <img class="prueba" src="/KIVO_SVG/PRUEVA.svg" alt="">
        <img class="contorno" src="/KIVO_SVG/CONTORNO4.svg" alt="">
        <img class="robot" src="/KIVO_SVG/ROBOTCONPU.svg" alt="">
    </div>

    <div class="text-contenedor">
      <h1>REGISTRO DIGITAL Y ACCESO SEGURO </h1>
      <p>Ten a tus pacientes en fácil acceso</p>
    </div>

</body>
</html>