<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

     <a href="/Home/Index2"> 
        <img src="/KIVO_SVG/UnityWork-07.png" />
     </a>
     
    
    <div class="image-container"> 
        <img src="/KIVO_SVG/ISOLOGO_1_COLOR.svg" alt="Descripción de la imagen"/>
    </div> 
   
</body>
</html>


  
