<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tercer.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
</head>
<body>

      <img src="/KIVO_SVG/arriba.svg" alt="">

      
        <img class="fabi" src="/KIVO_SVG/abajo.svg" alt="">
      

     
        <img class="lopez" src="/KIVO_SVG/CELULAR1.svg" alt="">
    
        <img class="fabo" src="/KIVO_SVG/ROBOT_COLOR.svg" alt=""> 

        <h1 class="titulo">PROGRAMACIÓN<br> DE CITAS</h1>

        <p class="subtitulo">Simplifica el seguimiento tus pacientes</p>
    
</body>
</html>