@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index4.css">
</head>
<body>
    
    
    <img src="/KIVO_JPG/1 (2).jpg" alt=""> 

    <img class="fab" src="/KIVO_JPG/ARRIBA2.jpg" alt=""> 

    <img class="jos" src="/KIVO_SVG/BOTCEL.svg" alt="">
</body>
</html>