@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index4.css">
</head>
<body>
    <!--Este div son para las imagenes-->
    <div>
        <img class="opuesto" src="/KIVO_JPG/1 (2).jpg" alt="" > 
        <img class="arriba" src="/KIVO_JPG/ARRIBA2.jpg" alt=""> 
        <img class="robotcel" src="/KIVO_SVG/BOTCEL.svg" alt="">
    </div>
   <!--Este div es para el titutlo y subtitulo-->
    <div class="image-container">
    <h1>COMUNICACIÓN <br> CONSTANTE Y EFECTIVA</h1>
    <p>Comunicación personalizada y fluida</p> 
    </div>

</body>
</html>