<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h2>Vista inicial</h2>
     <div class="image-container"> 
        <img src="/KIVO_SVG/LOGO_COLOR.svg" alt="Descripción de la imagen"/>
    </div>
   
</body>
</html>


  
