<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/segundo.css">
</head>
<body>
    <div class="sandia">
      <img src="/KIVO_SVG/ROBOT_COLOR.svg" alt=""> 
    </div>


    <div class="fabian"> 
     <img src="/KIVO_SVG/ISOLOGO_BLANCO.svg" alt="">
    </div>

    <p class="inicio">Sinplifica tu gestión médica y conecta con tus pacientes de manera eficiente
        y segura.
    </p>

</body>
</html>