<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index5.css">
</head>
<body>
    
      <img class="jos" src="/KIVO_SVG/PRUEVA.svg" alt="">
 
        <img src="/KIVO_SVG/CONTORNO4.svg" alt="">

     <img class="r" src="/KIVO_SVG/ROBOTCONPU.svg" alt="">
   

    

</body>
</html>