<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="/css/NuevoPasiente.css">
    <link rel="stylesheet" href="~/css/layout/layout.css">

</head>
<body>
    <div class="grid-container">
    <nav class="nav">
        <div class="img">
        <img src="/KIVO_JPG/kivopng.png" alt="" class="img-kivo">
            </div>
        <ul class="menu">
            <li><a href="/pasiente/Index" class=""> <img src="/KIVO_SVG/chatbubbles-outline.svg" alt=""></a></li>
            <li><a href="/agenda/semanal" class=""><img src="/KIVO_SVG/people-outline.svg" alt="Alternate Text" /></a></li>
            <li><a href="/cargos/reporte" class=""><img src="/KIVO_SVG/group.svg" alt="Alternate Text" /></a></li>
            
            <li><a href="/reportes/tablero" class=""><img src="/KIVO_SVG/calendar-outline.svg" alt="Alternate Text" /></a></li>
            <li><a href="/Account/logout" class=""><img src="/KIVO_SVG/Vector.svg" alt="Alternate Text" /></a></li>
  
        </ul>
    </nav>

    <div class="container" id="container">
        @RenderBody();
    </div>

    </div>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Script",false);
    <script>


        $(document).ready(function () {
            // Inicializa la validación del formulario
            $('#formCentroMedico').validate({
                errorClass: 'text-danger', // Clase para errores
                errorElement: 'span', // Elemento donde se mostrará el error
                onkeyup: false, // Desactiva la validación al escribir
                onfocusout: function (element) {
                    $(element).valid(); // Valida el campo al perder el foco
                },
                submitHandler: function (form) {
                    form.submit(); // Envía el formulario si es válido
                }
            });
        $(document).ready(function () {
            $('.nav-link').on('click', function (e) {
                e.preventDefault(); // Evita la recarga de la página
                const url = $(this).attr('href'); // Obtiene la URL del enlace

                // Realiza una solicitud AJAX
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (response) {
                        $('#container').html(response); // Actualiza el contenedor con la respuesta
                    },
                    error: function () {
                        $('#container').html('<p>Error al cargar el contenido.</p>'); // Mensaje de error
                    }
                });
            });
        });
    </script>
</body>
</html>
