@model KIVO.Models.ViewModels.PacienteViewModel

@{
    ViewData["Title"] = "Pacientes";
}

<h1>@ViewData["Title"]</h1>

<!-- Campo de búsqueda -->
<input type="text" id="busquedaPaciente" placeholder="Buscar paciente..." class="form-control" />

<!-- Lista de resultados -->
<div id="resultadosBusqueda">
    @Html.Partial("_Index", Model.Pacientes)
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var busquedaInput = document.getElementById('busquedaPaciente');
        var resultadosDiv = document.getElementById('resultadosBusqueda');

        function actualizarVistaParcial(pacientesHtml) {
            resultadosDiv.innerHTML = pacientesHtml;
        }

        function buscarPacientes(query) {
            fetch(`/Pasiente/BuscarPacientes?query=${encodeURIComponent(query)}`, {
                method: 'GET'
            })
                .then(response => {
                    if (response.status === 403) {
                        // Manejar el acceso denegado
                        alert('No tienes permiso para acceder a esta función.');
                        return;
                    }
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(pacientesHtml => {
                    actualizarVistaParcial(pacientesHtml);
                })
                .catch(error => {
                    console.error('Error al buscar pacientes:', error);
                });
        }

        busquedaInput.addEventListener('input', function () {
            var query = busquedaInput.value.trim();
            buscarPacientes(query);
        });
    });


</script>
