
.unity {
    width: 150px;
    height: auto;
    position: relative;
    top: -40px;
}


.image-segunda {
    width: 150px;
    margin: 0 auto;
    display: block;
    height: auto;
    margin-top: 45px;
} 