body{
    margin: 0; /* Elimina el margen del body */
    overflow: hidden; /* Esto evitará el scroll en la página completa */
    background-color: #fffafaec;
}

img {
    width: 950px;
    height: auto;
    margin-top: -10;
    margin-left: -10px;
}

.jos {
    position: absolute;
    top: -1%; /* Ajusta la posición vertical */
    margin-left: -15%; /* Ajusta la posición horizontal */
     width: 1450px; /* Ajusta el tamaño de la imagen superpuesta */
     height: auto;
     transform: rotate(180deg); /* Gira la imagen 180 grados */
}

.r {
    display: block;         /* Hace que la imagen sea un bloque */
    margin-left: auto;      /* Centra la imagen horizontalmente */
    margin-left: 33%;     /* Centra la imagen horizontalmente */
    max-width: 28%;         /* Reduce el tamaño de la imagen proporcionalmente */
    height: auto; 
    margin-top: -600;          /* Mantiene la proporción de la imagen */
    
}