body {
    background-color: rgb(241, 233, 228);
}


html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
   
}

.image-container img {
    width: 395px;
    height: 402px;
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño */
}