body{
    background: linear-gradient(to right,#2A8D96,#2C2C6E,#CE4740);
    margin: 0; /* Elimina el margen del body */
    
}

.robot {
    width: 50vw; /* Ancho basado en el 50% del ancho de la ventana */
    position: relative;
    top: 30px;
    left: 0;
}

.robot img {
    width: 300px; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: auto;
}


.fabian {
    width: 95px;
    height: auto;
    margin-left: 795px;
    margin-top: -360px;
}

.inicio {
    margin-top: 20px;
    margin-left: 670px;
    color: white;
    font-size: 25px;
    max-width: 400px;
    text-align: center;
}